div{
    display:inline-block;
    width:85px;
    height:20px;
    background-color: aqua;
    border:1px solid black;
}
#div1{
    position:absolute;
    top:1px;
    left:1px;
}
#div2{
    position:absolute;
    top:1px;
    right:1px;
}
#div3{
    position:absolute;
    bottom:0px;
    right:1px;
}
#div4{
    position:absolute;
    bottom:0px;
    left:1px;
}
#div5{
    position:relative;
    top:300px;
    left:50%;
    
}